<mat-card>
	<mat-card-title class='List-title'>
		Чек
	</mat-card-title>

	<mat-card-content>
		<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

				  <!--- Note that these columns can be defined in any order.
				        The actual rendered columns are set as a property on the row definition" -->

				  <!-- Position Column -->
				  <ng-container matColumnDef="position">
				    <th mat-header-cell *matHeaderCellDef> Партия </th>
				    <td mat-cell *matCellDef="let element"> {{element.ID_PARCEL}} </td>
				  </ng-container>

				  <!-- Name Column -->
				  <ng-container matColumnDef="name">
				    <th mat-header-cell *matHeaderCellDef> Название </th>
				    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
				  </ng-container>

				  <!-- Weight Column -->
				  <ng-container matColumnDef="weight">
				    <th mat-header-cell *matHeaderCellDef> Количество </th>
				    <td mat-cell *matCellDef="let element"> {{element.newQuant.qant_int}} </td>
				  </ng-container>

				  <ng-container matColumnDef="weight2">
				    <th mat-header-cell *matHeaderCellDef> Дробное кол-во </th>
				    <td mat-cell *matCellDef="let element"> {{element.newQuant.quant_div}}/{{element.quant_div}} </td>
				  </ng-container>

				  <!-- Symbol Column -->
				  <ng-container matColumnDef="cost">
				    <th mat-header-cell *matHeaderCellDef> Цена отп-ая </th>
				    <td mat-cell *matCellDef="let element"> {{element.price_sell_sum}} </td>
				  </ng-container>

				  <ng-container matColumnDef="symbol">
				    <th mat-header-cell *matHeaderCellDef> Сумма отп-ая </th>
				    <td mat-cell *matCellDef="let element"> {{element.newSum.newSumFloat}} </td>
				  </ng-container>

				  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				  <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
		</table>
	</mat-card-content>

</mat-card>