<mat-card>
	<p>Название: {{data.name}}</p>
	<p>Доступное количество: {{data.quant_int}} {{data.quant_num}}/{{data.quant_div}}</p>


	<mat-form-field class="example-full-width" appearance="outline">
		<mat-label>Количество</mat-label>
    	<input matInput placeholder="Количество"  
    	[formControl]="ValidateQuantyty"
    	[(ngModel)]="payGoodQuant.qant_int" 
    	[ngClass]="{'get-error-class': ValidateQuantyty.valid == false}" 

    	name="Quant" 
    	>
	</mat-form-field>

	<mat-form-field class="example-full-width" appearance="outline">
		<mat-label>Дробное кол-во</mat-label>
    	<input matInput 
    	placeholder="Дробное кол-во" 
    	[formControl]="Validate_fractional_number" 
    	[(ngModel)]="payGoodQuant.quant_div"
    	(ngModelChange)="somethingChanged()"

    	name="QuantDiv"
    	>
	</mat-form-field>

	<mat-card-actions>
		<button mat-button (click)="addToPayList()">Добавить</button>

		<button  mat-button mat-dialog-close>Отмена</button>
	</mat-card-actions>
</mat-card>