<table mat-table [dataSource]="data | async" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="ID_PARCEL">
    <th mat-header-cell *matHeaderCellDef> Партия </th>
    <td mat-cell *matCellDef="let element"> {{element.ID_PARCEL}} </td>
  </ng-container>

  <!-- Weight Column -->

   <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Название </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="PRICE_COST_BEFORE">
    <th mat-header-cell *matHeaderCellDef> Цена до </th>
    <td mat-cell *matCellDef="let element"> {{element.PRICE_COST_BEFORE}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="PRICE_COST_AFTER">
    <th mat-header-cell *matHeaderCellDef> Цена после </th>
    <td mat-cell *matCellDef="let element"> {{element.PRICE_COST_AFTER}} </td>
  </ng-container>

   <ng-container matColumnDef="event">
    <th mat-header-cell *matHeaderCellDef> Удалить </th>
    <td mat-cell *matCellDef="let element">
        <button  mat-button (click)="deleteInc(element)">
          <mat-icon>delete_forever</mat-icon>
        </button>
     </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

