<div class="card-conteiner">
    <mat-card class="changeGoods">
      <mat-card-subtitle>
        <app-find></app-find>
          <!-- <app-sellfind></app-sellfind> -->
      </mat-card-subtitle>
      <mat-card-content>
        <app-list-good></app-list-good>
            <!-- <app-select-goods></app-select-goods> -->
      </mat-card-content>
    </mat-card>

    <mat-card class="selllist">
         <mat-card-subtitle>
        <app-info></app-info>
          <!-- <app-sellfind></app-sellfind> -->
      </mat-card-subtitle>
    <app-paylist></app-paylist>
    </mat-card>
</div>
{{test}}
<!-- <app-sellfind></app-sellfind> -->
<!-- <app-list-sell-goods></app-list-sell-goods> -->
