<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Item Column -->
  <ng-container matColumnDef="docName">
    <th mat-header-cell *matHeaderCellDef> Документ </th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.name_voucher}} </td>
    <td mat-footer-cell *matFooterCellDef> Всего </td>
  </ng-container>

  <!-- Cost Column -->
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef> Время </th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.created_at}} </td>
    <td mat-footer-cell *matFooterCellDef>  </td>
  </ng-container>

   <ng-container matColumnDef="quant">
    <th mat-header-cell *matHeaderCellDef> Кол- поз </th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.quant_velem}} </td>
    <td mat-footer-cell *matFooterCellDef> {{getTotalCost()}} </td>
  </ng-container>

   <ng-container matColumnDef="summ">
    <th mat-header-cell *matHeaderCellDef> Сумма </th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.amount_price_sum | currency}} </td>
    <td mat-footer-cell *matFooterCellDef> {{getTotalCost1() | currency}} </td>
  </ng-container>

  <ng-container matColumnDef="nal">
    <th mat-header-cell *matHeaderCellDef> Нал- ые </th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.amount_customer_sum | currency}} </td>
    <td mat-footer-cell *matFooterCellDef> {{getTotalCost2() | currency}} </td>
  </ng-container>

  <ng-container matColumnDef="change">
    <th mat-header-cell *matHeaderCellDef> Сдача </th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.amount_customer_change | currency}} </td>
    <td mat-footer-cell *matFooterCellDef> {{getTotalCost3() | currency}} </td>
  </ng-container>

  <ng-container matColumnDef="typePay">
    <th mat-header-cell *matHeaderCellDef> Тип оп-ты</th>
    <td mat-cell *matCellDef="let transaction"> {{getTypeOfPay(transaction)}} </td>
    <td mat-footer-cell *matFooterCellDef> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>