table {
  width: 100%;
}

.icon {
    color: white;
}

mat-icon{
	color:red;
}
.head-button-class{
	float: right;
	padding-right:30px !important;
	padding-top: 20px !important;
}

.mat-column-name {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 28% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

// .edit-doc-head > button{
// 	float: right;
// 	color: red;
// 	background-color: black;
// 	width: 50%;
// }

// .head-button-class{
// 	float: right;
// }

// .mat-card>:last-child:not(.mat-card-footer){
// 	float: right;
// }