.nameInput{
	width: 400px !important;
	border-right: 30px !important;
	border:50px;
}

.barcodeInput{
	padding-right: 30px !important;
}
.hendAddClass{
	background-color: #F1EEFE;
}
.hendAddClass button{
	border-left: 100px !important;
	border:300px;
}