<!-- <mat-form-field>
  <mat-label>Font size</mat-label>
  <mat-select #fontSize value="16px" (selectionChange)="triggerResize()">
    <mat-option value="10px">10px</mat-option>
    <mat-option value="12px">12px</mat-option>
    <mat-option value="14px">14px</mat-option>
    <mat-option value="16px">16px</mat-option>
    <mat-option value="18px">18px</mat-option>
    <mat-option value="20px">20px</mat-option>
  </mat-select>
</mat-form-field> -->

<mat-form-field class="input-param">
  <mat-label>Название</mat-label>
  <input matInput [(ngModel)]="name">
</mat-form-field>

<mat-form-field class="input-param">
  <mat-label>Код партии</mat-label>
  <input matInput [(ngModel)]="parcel" >
</mat-form-field>

<mat-form-field class="input-param">
  <mat-label>Штрих-код</mat-label>
  <input matInput [(ngModel)]="barcode">
</mat-form-field>

<button mat-raised-button color="primary" (click)="getStockElem()">Получить</button>

<mat-divider></mat-divider>

<table mat-table [dataSource]="dataSours" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="parcel">
    <th mat-header-cell *matHeaderCellDef> No. Партии </th>
    <td mat-cell *matCellDef="let element"> {{element.ID_PARCEL}} </td>
  </ng-container>

  <!-- Name Column -->і
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Название </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="cost">
    <th mat-header-cell *matHeaderCellDef> Цена </th>
    <td mat-cell *matCellDef="let element"> {{element.price_sell_sum}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef> Кол-во </th>
    <td mat-cell *matCellDef="let element"> {{element.quant_int}} </td>
  </ng-container>

<!--    <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef> Кол-во </th>
    <td mat-cell *matCellDef="let element"> {{element.quant_int}} </td>
  </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="openModal(row)"></tr>
</table>

